node_modules
dist
ios
.git
.gitignore
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
README.md
src
guidelines
vite.config.ts
vite.aliyun-speech.ts
postcss.config.mjs
index.html
*.xcworkspace
*.xcodeproj
